.meetVideoContainer {
    position: relative;
    height: 100vh;
    background: rgb(1, 4, 48);
}

.meetUserVideo {
    position: absolute;
    bottom: 10vh;
    height: 20vh;
    width: auto;
    left: 0;
    border-radius: 20px;
}

.buttonContainers {
    position: absolute;
    width: 100vw;
    bottom: 0;
    text-align: center;
}

.buttonContainers svg {
    font-size: 3rem;
}

.conferenceView { 
    position: absolute;
    top: 20px;
    left: 20px;
    right: 32vw;
    bottom: 12vh;
    display: flex;
    gap: 15px;
    align-content: start;
}

.conferenceView  video {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 12px;
    background: black;
}

.chatRoom {
    position: absolute;
    height: 90vh;
    right: 0;
    background: white;
    border-radius: 10px;
    width: 30vw;
    padding-inline: 20px;
}

.chatContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}
  
.chattingDisplay {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}
  
.chattingArea {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
    border-top: 1px solid #ddd;
}
  
.chattingDisplay p {
    margin: 0;
    padding: 0;
}